<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/new.css">
</head>
<body>
   
    <div id="top">
        <div id="tille">
            <h1>New Product Form</h1>
        </div>
        

    </div>



    
    <form action="/products" method="POST">
        <div class="naam">
            <label for="naam">Name: </label>
            <input type="text" name="name" id="naam">
        </div>
        <div class="naam">
            <label for="pic">Image: </label>
            <input type="text" name="img" id="pic">
        </div>
        <div class="naam">
            <label for="daam">Price: </label>
            <input type="text" name="price" id="daam">
        </div>
        <div class="naam">
            <label for="des">Description: </label>
           <textarea name="desc" id="des" rows="3"></textarea>
        </div>
        <button type="submit" id="add">Add Product</button>
    </form>
    <footer>
        
    </footer>
</body>
</html>